<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.POSNAVDEMOConnectionString"
      connectionString="Data Source=LAP-ARNGRIMUR\SQLDEV;Initial Catalog=POSNAVDEMO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.HM_2013ConnectionString"
      connectionString="Data Source=LAP-ARMANN\SQLDEV;Initial Catalog=HM_2013;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.voruvalConnectionString"
      connectionString="Data Source=localhost\SQLDEV;Initial Catalog=voruval;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.HM_ARTConnectionString"
      connectionString="Data Source=LAP-ARMANN\SQLDEV;Initial Catalog=HM_ART;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.HMPOSConnectionString"
      connectionString="Data Source=LAP-ARMANN\SQLDEV;Initial Catalog=HMPOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.POS2016ConnectionString"
      connectionString="Data Source=LAP_ROSA1;Initial Catalog=POS2016;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS20151ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=LS20151;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS20121ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=LS20121;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS20161NEW2ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=LS20161NEW2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS2015ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=LS2015;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS2017"
      connectionString="Data Source=localhost;Initial Catalog=LS2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.Autotest20172ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Autotest20172;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LSOne.ViewPlugins.ReportViewer.Properties.Settings.LS20172ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=LS20172;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
