/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: Verdana, Tahoma, sans-serif;
}

h1
{
	font-weight: bold;
	font-family: Verdana, sans-serif;
	margin-top: 0pt;
	margin-right: 0px;
	margin-left: 0px;
	color: #ffffff;
	margin-bottom: 9.5pt;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	font-size: 11pt;
	background-image: none;
	height: 18px;
	background-color: #37474f;
}

h2
{
	font-weight: bold;
	margin-bottom: 8pt;
	font-family: Verdana, sans-serif;
	border-top-width: 1px;
	border-bottom-style: solid;
	font-size: 10pt;
	margin-top: 20pt;
	color: #242d2f;
	border-bottom-color: #4bbc89;
	border-bottom-width: 2px;
}

h3
{
	font-weight: bold;
	margin-bottom: 6pt;
	color: #4bbc89;
	font-size: 10pt;
	font-style: italic;
	margin-top: 5pt;
}

h4
{
	font-weight: bold;
	font-size: 9pt;
}

p
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-top: 4px;
}

li
{
	margin-bottom: 6pt;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-weight: bold;
	font-style: italic;
	text-decoration: none none none;
}

span.expandtext
{
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

a.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #a82384;
	text-decoration: none none none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none none none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10pt;
}

p.Tip
{
	margin-right: 18pt;
	margin-bottom: 4.5pt;
	margin-left: 9pt;
	margin-top: 8pt;
	mc-next-tag: P;
	color: #000000;
	background-color: #e6e6e6;
}

a:visited
{
	color: #a82384;
}

a:hover
{
	color: #a82384;
}

a:active
{
	color: #a82384;
}

MadCap|conceptLink.conceptLink_1
{
	mc-popup-type: menu;
	mc-display-type: button;
	mc-label: See Also;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-weight: bold;
	font-style: italic;
	text-decoration: none none none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

MadCap|expandingBody.expandtext
{
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

MadCap|glossaryTerm.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none none none;
}

MadCap|expandingBody.glossterm
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

span.span_5
{
	color: #0000ff;
}

td
{
	font: verdana;
	font-size: 9pt;
}

p.toptable
{
	margin-top: 0pt;
	font-size: 9pt;
	margin-bottom: 0pt;
}

p.Nomargin
{
	margin-bottom: 0pt;
}

MadCap|dropDownHead
{
	font-size: 11pt;
	margin-top: 20px;
}

MadCap|breadcrumbsProxy
{
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	border-bottom-width: 0px;
	padding-bottom: 2px;
}

@media non-print
{
	body
	{
		
	}
}

p.seeAlso
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 3.50em;
	margin-top: 3.50em;
}

p.copyright
{
	font-family: Verdana, sans-serif;
	margin-bottom: 12pt;
	text-align: center;
	font-size: 8pt;
	color: #696969;
	margin-top: 3.5em;
	padding-top: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	margin: 0px;
}

table
{
	margin-bottom: 12pt;
}

MadCap|dropDownHotspot
{
	
}

MadCap|dropDownHead.tab
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-bottom: 10px;
	color: #55bd8b;
}

p.TabText
{
	margin-top: 6px;
	margin-bottom: 10pt;
	margin-left: 3px;
}

span.sup
{
	vertical-align: super;
	font-size: 0.83em;
}

p.SystemPath
{
	color: #696969;
	font-weight: bold;
	font-size: 11pt;
}

li.table
{
	font-size: 9pt;
	margin-bottom: 3pt;
}

ul.table
{
	margin-bottom: 0px;
	font-size: 10pt;
	margin-top: 3px;
	margin-left: 0px;
}

p.table
{
	font-size: 9pt;
	margin: 0;
	margin-bottom: 6px;
}

ul
{
	margin-top: 0px;
	font-size: 10pt;
	margin-bottom: 2em;
}

span.trace
{
	font-weight: bold;
}

span.Note
{
	font-weight: bold;
	line-height: 20px;
}

p.formula
{
	font-family: Verdana, sans-serif;
	margin-bottom: 10pt;
	margin-top: 4px;
	text-align: center;
	font-style: italic;
	font-size: 12pt;
}

a.InternalLink
{
	
}

img.imgright
{
	float: right;
	margin: 10px;
	margin-right: 0px;
}

ul.nested
{
	font-size: 10pt;
	list-style-type: circle;
	margin-top: 7px;
	margin-left: 36px;
	margin-bottom: 5px;
}

span.example
{
	font-weight: bold;
}

img.shaddow
{
	border: outset 2px;
}

img
{
	margin: 0px;
}

img.centertext
{
	text-align: center;
}

p.Title_Seealso
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-top: 4px;
	font-weight: bold;
}

img.floatleft
{
	max-width: 500px;
	float: left;
	margin: 5px;
	padding-right: 10px;
	vertical-align: 1px;
}

MadCap|dropDownHead.OTTasks
{
	margin-top: 20px;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 10px;
	color: #55bd8b;
}

img.fiveh
{
	max-width: 500px;
}

div
{
	
}

div.indented
{
	margin-left: 15px;
}

object.video
{
	max-width: 768px;
}

p.DDheading
{
	font-family: Verdana, sans-serif;
	margin-bottom: 10pt;
	margin-top: 4px;
	font-weight: bold;
	font-size: 10pt;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #4bbc89;
}

p.heading
{
	font-weight: bold;
	margin-bottom: 8pt;
	font-family: Verdana, sans-serif;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 10pt;
	border-bottom-color: #a9a9a9;
	margin-top: 20pt;
	color: #4bbc89;
}

MadCap|expanding
{
	mc-open-image: url('resources:Images/WebHelp/minus.png');
	mc-closed-image: url('resources:Images/WebHelp/plus.png');
	mc-image-position: left;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/controls/green line arrow down_16.png');
	mc-open-image: url('../Images/controls/green line arrow up_16.png');
}

MadCap|toggler
{
	mc-open-image: url('resources:Images/WebHelp/minus.png');
	mc-closed-image: url('resources:Images/WebHelp/plus.png');
	color: inherit;
}

ul.release
{
	list-style-type: none;
	margin-left: 40px;
	padding-left: 0px;
}

li.release
{
	background-repeat: no-repeat;
	background-image: url('../Images/About/tick-small.png');
	background-position: 0 .3em;
	padding-left: 14px;
}

img.list
{
	margin: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

ul.indent
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10pt;
}

p.copyrightLinks
{
	font-family: Verdana, sans-serif;
	margin-bottom: 12pt;
	font-size: 8pt;
	color: #696969;
	margin-top: 3.5em;
	padding-top: 2px;
	text-align: right;
	border-top-style: dashed;
	border-top-color: #cd5c5c;
	border-top-width: 0px;
	border: solid 1px;
	padding: 10px;
	margin: 10px;
}

div.helpInfo
{
	flex-grow: 2;
	flex-basis: auto;
	align-self: stretch;
	margin: 5px;
	padding-left: 3px;
	padding-right: 3px;
	height: 28px;
	/*width: 430px;*/
	/*max-width: 50%; */
	background-color: #cfd8dc;
	color: #37474f;
	border: solid 1px #a7b0b4;
}

div.DocFeedback
{
	flex-grow: 2;
	flex-basis: auto;
	align-self: stretch;
	margin: 5px;
	padding-left: 3px;
	padding-right: 3px;
	height: 28px;
	background-color: #cfd8dc;
	color: #37474f;
	border: solid 1px #a7b0b4;
}

div.CopyrightDiv
{
	flex-grow: 2;
	flex-basis: auto;
	align-self: stretch;
	margin: 5px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	height: 28px;
	width: 100%;
	/*background-color: #cfd8dc;*/
	color: #37474f;
	/*border: solid 1px #a7b0b4;*/
}

div.FooterContainer
{
	margin: 0px;
	min-width: 450px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img.FooterImage
{
	margin: 0px;
	overflow: visible;
	float: left;
	z-index: 2;
	margin-left: 0px;
	margin-top: 3px;
}

a.Footer
{
	color: #37474f;
}

img.NoMargin
{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: -4px;
}

ul.withoutbullet
{
	list-style: none;
}

img.halfsize
{
	margin: 0px;
}

img.Note
{
	margin: 0px;
	float: left;
	mc-thumbnail-max-height: 21px;
	margin-top: -3px;
	margin-left: -5px;
}

div.Note1
{
	margin: 0px;
	margin-top: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: left;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	background-color: #febf52;
	border-bottom-color: #de992d;
	border-left-color: #de992d;
	border-right-color: #de992d;
	border-top-color: #de992d;
	color: #37474f;
}

img.ReportThumb
{
	margin: 0px;
	max-width: 100px;
	border: solid 1px #a9a9a9;
}

MadCap|dropDownHotspot:focus
{
	color: #55bd8b;
}

MadCap|dropDownHotspot:hover
{
	
}

MadCap|dropDownHotspot:visited
{
	color: #55bd8b;
}

MadCap|dropDownHotspot:link
{
	color: #55bd8b;
}

a.dropspot:link
{
	color: #a82384;
}

a.dropspot:visited
{
	color: #a82384;
}

a.dropspot:focus
{
	color: #a82384;
}

a.dropspot:hover
{
	color: #a82384;
}

a.dropspot:active
{
	color: #a82384;
}

MadCap|dropDownHotspot.dropspot:focus
{
	
}

MadCap|dropDownHotspot.dropspot:hover
{
	
}

span.RED
{
	color: #ff0000;
}

span.YELLOW
{
	color: #ffca00;
}

div.Warning
{
	margin: 0px;
	margin-top: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: left;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	color: #ffffff;
	background-color: #f05140;
	border-bottom-color: #e02f22;
	border-left-color: #e02f22;
	border-right-color: #e02f22;
	border-top-color: #e02f22;
}

div.Tips
{
	margin: 0px;
	margin-top: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: left;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	color: #ffffff;
	background-color: #73c69c;
	border-bottom-color: #41a977;
	border-left-color: #41a977;
	border-right-color: #41a977;
	border-top-color: #41a977;
}

img.imgrightDiv
{
	float: right;
	margin: 10px;
	margin-right: 0px;
}

MadCap|dropDownHead.Steps
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	color: #000000;
	margin-bottom: 5px;
}

img.thumbRight
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 200px;
	float: right;
	margin: 10px;
	margin-right: 0px;
	margin-top: 0px;
}

img.thumbLeft
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 200px;
	margin: 10px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
}

img.thumbCenterBig
{
	mc-thumbnail: popup;
	margin: 10px;
	max-width: none;
	mc-thumbnail-max-height: 300;
}

img.thumbCenter
{
	mc-thumbnail: popup;
	margin: 10px;
	max-width: none;
	mc-thumbnail-max-height: 150;
}

p.note
{
	margin-left: 25px;
	margin-bottom: 0;
}

img.Note1
{
	margin: 0px;
	float: left;
	mc-thumbnail-max-height: 21px;
	margin-left: -5px;
}

p.FooterText
{
	margin-bottom: 0;
	margin-top: 6px;
	margin-left: 28px;
}

img.thumbTab
{
	mc-thumbnail: popup;
	margin: 10px;
	max-width: none;
	mc-thumbnail-max-height: 100px;
}

img.thumbRibbon
{
	mc-thumbnail: popup;
	margin: 10px;
	max-width: none;
	mc-thumbnail-max-height: 100px;
}

div.Todo
{
	margin: 0px;
	margin-top: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: left;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	color: #ffffff;
	background-color: #167db0;
	border-bottom-color: #02699c;
	border-left-color: #02699c;
	border-right-color: #02699c;
	border-top-color: #02699c;
}

p.Next_topic
{
	font-family: Verdana, sans-serif;
	margin-bottom: 10pt;
	margin-top: 4px;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	padding-left: 10;
	color: #ffffff;
}

a.Next_topic
{
	text-align: right;
	color: #ffffff;
}

p.OTTasks
{
	
}

h2.OTTasks
{
	margin-top: 20px;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 10px;
	color: #55bd8b;
	border-bottom-style: none;
}

div.NextTopic
{
	margin: 0px;
	margin-top: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: left;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	color: #ffffff;
	background-color: #167db0;
	border-bottom-color: #02699c;
	border-left-color: #02699c;
	border-right-color: #02699c;
	border-top-color: #02699c;
	font-size: 14pt;
}

MadCap|xref.NextTopic
{
	font-color: white;
	color: #ffffff;
}

ol.nested
{
	font-size: 10pt;
	list-style-type: lower-alpha;
	margin-top: 5px;
	margin-left: 36px;
	margin-bottom: 5px;
}

img.thumbRightInv
{
	mc-thumbnail: popup;
	float: right;
	margin: 10px;
	margin-right: 0px;
	margin-top: 0px;
	mc-thumbnail-max-height: 300px;
}

img.thumbLeftIV
{
	mc-thumbnail: popup;
	margin: 10px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	mc-thumbnail-max-height: 300px;
}

img.thumbCenterSmall
{
	mc-thumbnail: popup;
	margin: 10px;
	max-width: none;
	mc-thumbnail-max-height: 70;
}

body
{
	
}

