<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Dyn365BCWebServiceForKDS_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lsr000295.lsretail.local:9047/CEN-1154/WS/CRONUS%20-%20LS%20Central/Codeunit/Dyn365BCWebServiceForKDS"
                binding="basicHttpBinding" bindingConfiguration="Dyn365BCWebServiceForKDS_Binding"
                contract="Dyn365BCWebServiceForKDS_Port" name="Dyn365BCWebServiceForKDS_Port" />
        </client>
    </system.serviceModel>
</configuration>