/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: borders;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
}

mcTableColumnStyle
{
	span: 8;
	id: 4;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #55bd8b;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: center;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	text-align: center;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-borders
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-borders-Column-Column1
{
	
}

.TableStyle-borders-Column-Column2
{
	
}

.TableStyle-borders-Head-Header1
{
	
}

.TableStyle-borders-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadI-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadE-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadF-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadH-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadD-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadC-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadB-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadA-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-HeadG-Column2-Header1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	background-color: #55bd8b;
}

.TableStyle-borders-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-size: 12px;
}

.TableStyle-borders-Foot-Footer1
{
	
}

.TableStyle-borders-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootI-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootI-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootE-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootE-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootF-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootF-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootH-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootH-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootD-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-borders-FootD-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootC-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootC-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootB-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootB-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootA-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootA-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-FootG-Column2-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.TableStyle-borders-FootG-Column2-Footer1 p
{
	font-weight: bold;
}

.TableStyle-borders-Body-Body1
{
	
}

.TableStyle-borders-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-borders-BodyI-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-borders-BodyE-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-borders-BodyF-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-borders-BodyH-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-borders-BodyD-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-borders-BodyC-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-borders-BodyB-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-borders-BodyA-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-borders-BodyG-Column1-Body1 p
{
	
}

.TableStyle-borders-BodyI-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyI-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyE-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-BodyE-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyF-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-BodyF-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyH-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyH-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyD-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-borders-BodyD-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyC-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyC-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyB-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyB-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyA-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyA-Column2-Body1 p
{
	
}

.TableStyle-borders-BodyG-Column2-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.TableStyle-borders-BodyG-Column2-Body1 p
{
	
}


