/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Checklist;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 6;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 25px;
	background-repeat: no-repeat;
	background-position-x: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column2;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
}


/* Cell Styles: */
 
.TableStyle-Checklist
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Checklist-Column-Column1
{
	width: 25px;
}

.TableStyle-Checklist-Column-Column2
{
	
}

.TableStyle-Checklist-HeadI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadI-Column1- p
{
	
}

.TableStyle-Checklist-HeadE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-HeadE-Column1- p
{
	
}

.TableStyle-Checklist-HeadF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadF-Column1- p
{
	
}

.TableStyle-Checklist-HeadH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-HeadH-Column1- p
{
	
}

.TableStyle-Checklist-HeadD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadD-Column1- p
{
	
}

.TableStyle-Checklist-HeadC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadC-Column1- p
{
	
}

.TableStyle-Checklist-HeadB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-HeadB-Column1- p
{
	
}

.TableStyle-Checklist-HeadA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadA-Column1- p
{
	
}

.TableStyle-Checklist-HeadG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-HeadG-Column1- p
{
	
}

.TableStyle-Checklist-HeadI-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadI-Column2- p
{
	
}

.TableStyle-Checklist-HeadE-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadE-Column2- p
{
	
}

.TableStyle-Checklist-HeadF-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadF-Column2- p
{
	
}

.TableStyle-Checklist-HeadH-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadH-Column2- p
{
	
}

.TableStyle-Checklist-HeadD-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadD-Column2- p
{
	
}

.TableStyle-Checklist-HeadC-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadC-Column2- p
{
	
}

.TableStyle-Checklist-HeadB-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadB-Column2- p
{
	
}

.TableStyle-Checklist-HeadA-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadA-Column2- p
{
	
}

.TableStyle-Checklist-HeadG-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-HeadG-Column2- p
{
	
}

.TableStyle-Checklist-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootI-Column1- p
{
	
}

.TableStyle-Checklist-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-FootE-Column1- p
{
	
}

.TableStyle-Checklist-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootF-Column1- p
{
	
}

.TableStyle-Checklist-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-FootH-Column1- p
{
	
}

.TableStyle-Checklist-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootD-Column1- p
{
	
}

.TableStyle-Checklist-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootC-Column1- p
{
	
}

.TableStyle-Checklist-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-FootB-Column1- p
{
	
}

.TableStyle-Checklist-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootA-Column1- p
{
	
}

.TableStyle-Checklist-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-FootG-Column1- p
{
	
}

.TableStyle-Checklist-FootI-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootI-Column2- p
{
	
}

.TableStyle-Checklist-FootE-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootE-Column2- p
{
	
}

.TableStyle-Checklist-FootF-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootF-Column2- p
{
	
}

.TableStyle-Checklist-FootH-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootH-Column2- p
{
	
}

.TableStyle-Checklist-FootD-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootD-Column2- p
{
	
}

.TableStyle-Checklist-FootC-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootC-Column2- p
{
	
}

.TableStyle-Checklist-FootB-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootB-Column2- p
{
	
}

.TableStyle-Checklist-FootA-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootA-Column2- p
{
	
}

.TableStyle-Checklist-FootG-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-FootG-Column2- p
{
	
}

.TableStyle-Checklist-Body-Body1
{
	
}

.TableStyle-Checklist-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Checklist-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position-x: center;
}

.TableStyle-Checklist-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Checklist-BodyI-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyE-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyF-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyH-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyD-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyC-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyB-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyA-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Checklist-BodyG-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-Checklist-BodyG-Column2-Body1 p
{
	
}


