/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FieldStyles;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	max-id: 10;
	cell-padding-left: 3px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-right: 3px;
	margin-left: 10px;
	margin-top: 10px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	size: 150px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableColumnStyle
{
	span: 6;
	id: 6;
	name: Column2;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
}

mcTableColumnStyle
{
	span: 2;
	id: 10;
	name: Column3;
	vertical-align: middle;
	text-align: center;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
	size: 70px;
}

mcTableHeadStyle
{
	span: 1;
	id: 7;
	name: Header1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #a9a9a9;
	text-align: left;
	vertical-align: bottom;
	color: #696969;
	font-size: 11px;
}

mcTableBodyStyle
{
	span: 100;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Body1;
	id: 1;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
	cell-padding-top: 7px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Indented;
	cell-padding-left: 15px;
	cell-padding-top: 7px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: GroupBox;
	background-color: #f5f5f5;
	font-size: 11px;
	cell-padding-top: 4px;
	vertical-align: top;
	font-weight: bold;
	color: #696969;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-FieldStyles
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 2px;
	margin-left: 10px;
	margin-top: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-FieldStyles-Column-Column1
{
	width: 150px;
}

.TableStyle-FieldStyles-Column-Column2
{
	
}

.TableStyle-FieldStyles-Column-Column3
{
	width: 70px;
}

.TableStyle-FieldStyles-Head-Header1
{
	
}

.TableStyle-FieldStyles-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadI-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadE-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadF-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadH-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadD-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadC-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadB-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadA-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadG-Column1-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadI-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadI-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadE-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadE-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadF-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadF-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadH-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadH-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadD-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadD-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadC-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadC-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadB-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadB-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadA-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadA-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadG-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadG-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadI-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadI-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadE-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadE-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadF-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadF-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadH-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadH-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadD-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-HeadD-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadC-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadC-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadB-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadB-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadA-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadA-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-HeadG-Column3-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FieldStyles-HeadG-Column3-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FieldStyles-Foot-Footer1
{
	
}

.TableStyle-FieldStyles-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootI-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootE-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootF-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootH-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootD-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootC-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootB-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootA-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootG-Column1-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootI-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootI-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootE-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootE-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootF-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootF-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootH-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootH-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootD-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootD-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootC-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootC-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootB-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootB-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootA-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootA-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootG-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FieldStyles-FootG-Column2-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootI-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootI-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootE-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootE-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootF-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootF-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootH-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-FootH-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootD-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FieldStyles-FootD-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootC-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-FootC-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootB-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-FootB-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootA-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-FootA-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-FootG-Column3-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-FootG-Column3-Footer1 p
{
	
}

.TableStyle-FieldStyles-Body-Body1
{
	
}

.TableStyle-FieldStyles-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyE-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyH-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyD-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyC-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyB-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyA-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyG-Column1-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyI-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyE-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyE-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyF-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyH-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyH-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyD-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyD-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyC-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyB-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyB-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyA-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyA-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyG-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-FieldStyles-BodyG-Column2-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyI-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyE-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyE-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyF-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyH-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyH-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyD-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyD-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyC-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyB-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyB-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyA-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyA-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-BodyG-Column3-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyG-Column3-Body1 p
{
	
}

.TableStyle-FieldStyles-Body-Indented
{
	
}

.TableStyle-FieldStyles-BodyI-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyI-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyE-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyE-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyF-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyF-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyH-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyH-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyD-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyD-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyC-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyC-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyB-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyB-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyA-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyA-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyG-Column1-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyG-Column1-Indented p
{
	
}

.TableStyle-FieldStyles-BodyI-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyE-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyE-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyF-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyH-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyH-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyD-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyD-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyC-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyB-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyB-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyA-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyA-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyG-Column2-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-FieldStyles-BodyG-Column2-Indented p
{
	
}

.TableStyle-FieldStyles-BodyI-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyE-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyE-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyF-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyH-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyH-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyD-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyD-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyC-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyB-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyB-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyA-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyA-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-BodyG-Column3-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyG-Column3-Indented p
{
	
}

.TableStyle-FieldStyles-Body-GroupBox
{
	
}

.TableStyle-FieldStyles-BodyI-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyI-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyE-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyE-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyF-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyF-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyH-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyH-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyD-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyD-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyC-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyC-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyB-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyB-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyA-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyA-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyG-Column1-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyG-Column1-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyI-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyE-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyE-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyF-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyH-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyH-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyD-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyD-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyC-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyB-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyB-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyA-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyA-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyG-Column2-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-FieldStyles-BodyG-Column2-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyI-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyI-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyE-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyE-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyF-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyF-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyH-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyH-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyD-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyD-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyC-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FieldStyles-BodyC-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyB-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyB-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyA-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyA-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FieldStyles-BodyG-Column3-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-FieldStyles-BodyG-Column3-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}


