/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FirstRowHeaderStyles;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	max-id: 11;
	cell-padding-left: 3px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-right: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #dcdcdc;
	name: Column1;
	id: 0;
	size: 200px;
	text-align: right;
	cell-padding-right: 10px;
	font-size: 11px;
	color: #696969;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 6;
	id: 6;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	id: 7;
	name: Header1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #a9a9a9;
	text-align: left;
	vertical-align: bottom;
	color: #696969;
	font-size: 11px;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: Row1;
	color: #696969;
	font-weight: bold;
	type: Automatic;
	font-size: 11px;
	size: 1px;
}

mcTableBodyStyle
{
	span: 8;
	id: 11;
	name: Row2;
	type: Automatic;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-FirstRowHeaderStyles
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 2px;
	border-spacing: 0px 0px;
}

.TableStyle-FirstRowHeaderStyles-Column-Column1
{
	width: 200px;
}

.TableStyle-FirstRowHeaderStyles-Column-Column2
{
	
}

.TableStyle-FirstRowHeaderStyles-Head-Header1
{
	
}

.TableStyle-FirstRowHeaderStyles-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadI-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadE-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadF-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadH-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadD-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadC-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadB-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadA-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-right: 10px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadG-Column1-Header1 p
{
	font-weight: bold;
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadI-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadI-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadE-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadE-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadF-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadF-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadH-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadH-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadD-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-FirstRowHeaderStyles-HeadD-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadC-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadC-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadB-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadB-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadA-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadA-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-HeadG-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-FirstRowHeaderStyles-HeadG-Column2-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-FirstRowHeaderStyles-Foot-Footer1
{
	
}

.TableStyle-FirstRowHeaderStyles-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-FootI-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootE-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootF-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootH-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootD-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-FootC-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootB-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-FootA-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-FootG-Column1-Footer1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-FootI-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootI-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootE-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootE-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootF-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootF-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootH-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootH-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootD-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-FirstRowHeaderStyles-FootD-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootC-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootC-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootB-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootB-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootA-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootA-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-FootG-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-FootG-Column2-Footer1 p
{
	
}

.TableStyle-FirstRowHeaderStyles-Body-Row1
{
	height: 1px;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column1-Row1
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column1-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column2-Row1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column2-Row1 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-Body-Row2
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column1-Row2
{
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column1-Row2 p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyI-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyE-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyF-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyH-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyD-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyC-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyB-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyA-Column2-Row2 p
{
	
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column2-Row2
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-FirstRowHeaderStyles-BodyG-Column2-Row2 p
{
	
}


