/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: KBTable1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	background-color: #d3d3d3;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	size: 30px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	background-color: #d3d3d3;
	separator-color: #000000;
	name: Body2;
	id: 2;
	size: 30px;
}


/* Cell Styles: */
 
.TableStyle-KBTable1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-KBTable1-Column-Column1
{
	
}

.TableStyle-KBTable1-Head-Header1
{
	
}

.TableStyle-KBTable1-HeadI-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadI-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d3d3d3;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadE-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadF-Column1-Header1
{
	background-color: #d3d3d3;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadF-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadH-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadD-Column1-Header1
{
	background-color: #d3d3d3;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadD-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadC-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadC-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadB-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadA-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadA-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-HeadG-Column1-Header1
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-HeadG-Column1-Header1 p
{
	
}

.TableStyle-KBTable1-FootI-Column1-
{
	
}

.TableStyle-KBTable1-FootI-Column1- p
{
	
}

.TableStyle-KBTable1-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootE-Column1- p
{
	
}

.TableStyle-KBTable1-FootF-Column1-
{
	
}

.TableStyle-KBTable1-FootF-Column1- p
{
	
}

.TableStyle-KBTable1-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootH-Column1- p
{
	
}

.TableStyle-KBTable1-FootD-Column1-
{
	
}

.TableStyle-KBTable1-FootD-Column1- p
{
	
}

.TableStyle-KBTable1-FootC-Column1-
{
	
}

.TableStyle-KBTable1-FootC-Column1- p
{
	
}

.TableStyle-KBTable1-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootB-Column1- p
{
	
}

.TableStyle-KBTable1-FootA-Column1-
{
	
}

.TableStyle-KBTable1-FootA-Column1- p
{
	
}

.TableStyle-KBTable1-FootG-Column1-
{
	
}

.TableStyle-KBTable1-FootG-Column1- p
{
	
}

.TableStyle-KBTable1-Body-Body1
{
	height: 30px;
}

.TableStyle-KBTable1-BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-KBTable1-BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-KBTable1-Body-Body2
{
	height: 30px;
}

.TableStyle-KBTable1-BodyI-Column1-Body2
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyE-Column1-Body2
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyF-Column1-Body2
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyH-Column1-Body2
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyD-Column1-Body2
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyC-Column1-Body2
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyB-Column1-Body2
{
	background-color: #d3d3d3;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyA-Column1-Body2
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-KBTable1-BodyG-Column1-Body2
{
	background-color: #d3d3d3;
}

.TableStyle-KBTable1-BodyG-Column1-Body2 p
{
	
}


