/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: LastUpdated;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 100px;
	font-weight: bold;
	font-size: 10px;
	color: #a9a9a9;
	text-align: right;
	cell-padding-right: 5px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 200px;
	color: #a9a9a9;
	font-size: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #a9a9a9;
	name: Body1;
	id: 1;
	color: #a9a9a9;
	font-size: 10px;
	vertical-align: bottom;
}


/* Cell Styles: */
 
.TableStyle-LastUpdated
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-LastUpdated-Column-Column1
{
	width: 100px;
}

.TableStyle-LastUpdated-Column-Column2
{
	width: 200px;
}

.TableStyle-LastUpdated-HeadI-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadI-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadE-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-HeadE-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadF-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadF-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadH-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-HeadH-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadD-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadD-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadC-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadC-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadB-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-HeadB-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadA-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadA-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadG-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-HeadG-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-HeadI-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadI-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadE-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadE-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadF-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadF-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadH-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadH-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadD-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadD-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadC-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadC-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadB-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadB-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadA-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadA-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadG-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-HeadG-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootI-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootI-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootE-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-FootE-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootF-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootF-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootH-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-FootH-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootD-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootD-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootC-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootC-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootB-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-FootB-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootA-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootA-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootG-Column1-
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-FootG-Column1- p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-FootI-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootI-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootE-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootE-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootF-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootF-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootH-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootH-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootD-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootD-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootC-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootC-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootB-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootB-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootA-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootA-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootG-Column2-
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-FootG-Column2- p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-Body-Body1
{
	
}

.TableStyle-LastUpdated-BodyI-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyI-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyE-Column1-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-BodyE-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyF-Column1-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyF-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyH-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-BodyH-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyD-Column1-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyD-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyC-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyC-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyB-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LastUpdated-BodyB-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyA-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyA-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyG-Column1-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.TableStyle-LastUpdated-BodyG-Column1-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
	font-weight: bold;
}

.TableStyle-LastUpdated-BodyI-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyI-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyE-Column2-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyE-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyF-Column2-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyF-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyH-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyH-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyD-Column2-Body1
{
	vertical-align: bottom;
	border-bottom-width: 0px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyD-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyC-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyC-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyB-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyB-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyA-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyA-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyG-Column2-Body1
{
	vertical-align: bottom;
	color: #a9a9a9;
	font-size: 10px;
}

.TableStyle-LastUpdated-BodyG-Column2-Body1 p
{
	color: #a9a9a9;
	font-size: 10px;
}


