/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: PermissionTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	max-id: 10;
	cell-padding-left: 3px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-right: 3px;
	margin-left: 10px;
}

mcTableColumnStyle
{
	span: 1;
	name: PermissionName;
	id: 0;
	size: 150px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableColumnStyle
{
	span: 4;
	id: 10;
	name: Group;
	vertical-align: middle;
	text-align: center;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
	size: 50px;
}

mcTableHeadStyle
{
	span: 1;
	id: 7;
	name: Header1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #a9a9a9;
	text-align: left;
	vertical-align: bottom;
	color: #696969;
	font-size: 11px;
}

mcTableBodyStyle
{
	span: 100;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Body1;
	id: 1;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #dcdcdc;
	cell-padding-top: 7px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Indented;
	cell-padding-left: 15px;
	cell-padding-top: 7px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: GroupBox;
	background-color: #f5f5f5;
	font-size: 11px;
	cell-padding-top: 4px;
	vertical-align: top;
	font-weight: bold;
	color: #696969;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-PermissionTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 2px;
	margin-left: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-PermissionTable-Column-PermissionName
{
	width: 150px;
}

.TableStyle-PermissionTable-Column-Group
{
	width: 50px;
}

.TableStyle-PermissionTable-Head-Header1
{
	
}

.TableStyle-PermissionTable-HeadI-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadI-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadE-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadE-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadF-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadF-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadH-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadH-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadD-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadD-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadC-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadC-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadB-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadB-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadA-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadA-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadG-PermissionName-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadG-PermissionName-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadI-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadI-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadE-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadE-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadF-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadF-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadH-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadH-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadD-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-HeadD-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadC-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadC-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadB-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadB-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadA-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadA-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-HeadG-Group-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-PermissionTable-HeadG-Group-Header1 p
{
	color: #696969;
	font-size: 11px;
}

.TableStyle-PermissionTable-Foot-Footer1
{
	
}

.TableStyle-PermissionTable-FootI-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-PermissionTable-FootI-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootE-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootE-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootF-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootF-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootH-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-FootH-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootD-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootD-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootC-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-PermissionTable-FootC-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootB-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-FootB-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootA-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-PermissionTable-FootA-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootG-PermissionName-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-PermissionTable-FootG-PermissionName-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootI-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-FootI-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootE-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootE-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootF-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootF-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootH-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-FootH-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootD-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-top-style: solid;
}

.TableStyle-PermissionTable-FootD-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootC-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-FootC-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootB-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-FootB-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootA-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-FootA-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-FootG-Group-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-FootG-Group-Footer1 p
{
	
}

.TableStyle-PermissionTable-Body-Body1
{
	
}

.TableStyle-PermissionTable-BodyI-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-BodyI-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyE-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyE-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyF-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-BodyF-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyH-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyH-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyD-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-BodyD-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyC-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyC-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyB-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyB-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyA-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyA-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyG-PermissionName-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-PermissionTable-BodyG-PermissionName-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyI-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyI-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyE-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyE-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyF-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyF-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyH-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyH-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyD-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyD-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyC-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyC-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyB-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyB-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyA-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyA-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-BodyG-Group-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyG-Group-Body1 p
{
	
}

.TableStyle-PermissionTable-Body-Indented
{
	
}

.TableStyle-PermissionTable-BodyI-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyI-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyE-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyE-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyF-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyF-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyH-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyH-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyD-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyD-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyC-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyC-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyB-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyB-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyA-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyA-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyG-PermissionName-Indented
{
	padding-right: 3px;
	vertical-align: top;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
}

.TableStyle-PermissionTable-BodyG-PermissionName-Indented p
{
	
}

.TableStyle-PermissionTable-BodyI-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyI-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyE-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyE-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyF-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyF-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyH-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyH-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyD-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyD-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyC-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyC-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyB-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyB-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyA-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyA-Group-Indented p
{
	
}

.TableStyle-PermissionTable-BodyG-Group-Indented
{
	padding-right: 3px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyG-Group-Indented p
{
	
}

.TableStyle-PermissionTable-Body-GroupBox
{
	
}

.TableStyle-PermissionTable-BodyI-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyI-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyE-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyE-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyF-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyF-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyH-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyH-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyD-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyD-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyC-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyC-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyB-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyB-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyA-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyA-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyG-PermissionName-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	background-color: #f5f5f5;
	padding-top: 4px;
}

.TableStyle-PermissionTable-BodyG-PermissionName-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyI-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyI-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyE-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyE-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyF-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyF-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyH-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyH-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyD-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyD-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyC-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-PermissionTable-BodyC-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyB-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyB-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyA-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyA-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}

.TableStyle-PermissionTable-BodyG-Group-GroupBox
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	color: #696969;
	font-size: 11px;
	font-weight: bold;
	background-color: #f5f5f5;
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-PermissionTable-BodyG-Group-GroupBox p
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}


