<configuration>
  <appSettings>
    <add key="LogLevel" value="3" />
    <!-- Integration framework web (https) bindings. Port cannot be the same as the service port! -->
    <add key="EnableServiceDiscovery" value="false" />
    <add key="EnableNetTcpEndpoint" value="true" />
    <add key="NetTcpPort" value="9102" />
    <add key="EnableHttpEndpoint" value="false" />
    <add key="HttpPort" value="9103" />
    <add key="EnforceHttps" value="false" />
    <add key="SslCertificateThumbnail" value="" />
    <!--  == can have one of the following values: CurrentUser, LocalMachine -->
    <add key="SslStoreLocation" value="LocalMachine" />
    <!--  == can have one of the following values: AddressBook, AuthRoot, CertificateAuthority, Disallowed, My, Root, TrustedPeople, TrustedPublisher -->
    <add key="SslStoreName" value="My" />
  </appSettings>
</configuration>