<configuration>
  <appSettings>
    <add key="LogLevel" value="3" />
    <!-- ************************************************************************************************************************* -->
    <!-- Settings that define if a syncronization service is used for dual displays and its timer interval -->
    <add key="UseDualDisplaySync" value="0" />
    <add key="DualDisplaySyncInterval" value="5" />
    <!-- ************************************************************************************************************************* -->
    <!-- ************************************************************************************************************************* -->
    <add key="ExternalAddress" value="" />
    <add key="DatabaseServer" value="localhost" />
    <add key="DatabaseWindowsAuthentication" value="false" />
    <add key="DatabaseUser" value="sa" />
    <add key="DatabasePassword" value="mydatabasepassword" />
    <add key="DatabaseName" value="mydatabase" />
    <add key="SiteServicePluginOverride" value="" />
    <add key="DaysToKeepLogs" value="30" />
    <!-- ************************************************************************************************************************* -->
    <!-- Security -->
    <add key="PrivateHashKey" value="" />
    <add key="MaxCount" value="50" />
    <add key="MaxUserConnectionCount" value="30" />
    <!-- ************************************************************************************************************************* -->
    <!-- DatabaseConnectionType can be one of the following: TCP/IP,Named pipes, Shared memory -->
    <!-- ************************************************************************************************************************* -->
    <add key="DatabaseConnectionType" value="Named pipes" />
    <!-- ************************************************************************************************************************* -->
    <!-- SiteManagerUser has to be created as a special server user on the Site Manager - normal user will not work -->
    <add key="SiteManagerUser" value="SiteServiceUser" />
    <add key="SiteManagerPassword" value="1234" />
    <add key="DataAreaID" value="LSR" />
    <add key="Port" value="9101" />
    <!-- E-mail settings -->
    <add key="EMailSendInterval" value="0" />
    <add key="EMailMaximumBatch" value="25" />
    <add key="EMailMaximumAttempts" value="5" />
    <add key="EMailTruncateQueue" value="Each" />
    <!-- HBO Settings -->
    <add key="IsCloud" value="false" />
    <!-- SiteService NetTcp connection timeout (in seconds) -->
    <add key="NetTcpTimeout" value="60" />
    <!-- SiteService administrative section -->
    <!-- ** SiteService administrative password. This is configured at install time -->
    <add key="Administration" value="" />
    <!-- ** SiteService administrative session timeout (in seconds). Default value is 2h. -->
    <add key="AdministrationTimeout" value="7200" />
  </appSettings>
</configuration>